# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
ios/
android/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Build artifacts
build/
*.ipa
*.apk
*.aab

# Env / secrets
.env
.env.local
.env*.local

# Logs
npm-debug.*
yarn-debug.*
yarn-error.*

# Editor / OS
.DS_Store
.vscode/
.idea/

# TypeScript
*.tsbuildinfo

# Testing
coverage/

# end
